/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image) no-repeat top center, var(--background-color);
  background-size: cover;
  background-size: auto 768px;
  background-attachment: fixed;
}
/* HEADER  */
.header {
  padding: 0 20px;
  position: relative;
}
@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 10px;
  }
}
.header__theme-menu-list{
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
      gap: 11px;
  }
}
/* Кнопки */
.header__theme-menu {
  padding-block-start: 20px;
}
@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-block-start: 192px;
  }
}
@media (width < 768px) and (width >= 375px) {
  .header__theme-menu {
    padding-block-start: 75px;
  }
}
.header__theme-menu-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-button);
  line-height: 100%;
  padding: 2.5px 13px;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border: var(--hover-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--color-button);
}
.header__theme-menu-button_active {
  border: 1px solid var(--color-button);
}
/* REC  */
.header-rec-icon{
  text-transform: uppercase;
  position: absolute;
  color: var(--color-rec);
  top: 21px;
  right: 49px;
}
/* Точка REC  */
.header-rec-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-rec); 
  background-color: var(--color-rec); 
  top: 50%; 
  right: -20px;
  transform: translateY(-50%); 
}
/* Углы */
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--right-angle);
  border-top: 1px solid var(--right-angle);
  right: 20px;
  top: 20px;
}
@media (width < 768px) and (width >= 375px) {
  .decorated-zone::after {
      right: 10px;
      top: 10px;
  }
}
.decorated-zone::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--right-angle);
  border-bottom: 1px solid var(--right-angle);
  left: 20px;
  bottom: 20px;
}
@media (width < 768px) and (width >= 375px) {
  .decorated-zone::before {
      left: 10px;
      bottom: 17px;
  }
}
/* Контейнер h1  */
.header__container{
  display: flex;
  padding: 238px 0 136px ;
  flex-direction: column;
  gap: 76px;
}
@media (width < 1024px) and (width >= 768px) {
  .header__container{
    padding: 150px 0 183px;
    gap: 133px;
  }
}
@media (width < 768px) and (width >= 375px) {
  .header__container{
    padding: 70px 0 74px;
    gap: 57px;
  }
}
.header__title{
  margin-inline-start: -2%;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--tittle-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}
@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}
@media (width < 768px) and (width >= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
    line-height: 82.5%;
  }
}
.header__text{
  align-self: flex-end;
  font-weight: 700;
  inline-size: 50%;
  color: var(--header-text);
}
@media (width < 425px) {
  .header__text {
    inline-size: 100%;
  }
}
.color__block{
  background-color: var(--background-header-text);
}
/* MAIN  */
.main {
  padding: 0 20px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (width < 768px) and (width >= 375px) {
  .main {
    padding: 0 10px;
    margin: 34px 0;
    gap: 50px;
  }
}
/* Section */
.section {
  display: grid;
  grid-template-columns: 1fr 66%;
}
@media (width < 1024px) and (width >= 768px) {
  .section {
    grid-template-columns: 1fr 65%;
  }
}
@media (width < 768px) and (width >= 375px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}
.section_article-text-link {
  text-shadow: 3px 3px 0px var(--link-shadow);
}
.section_article-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}
.section_article-text-link:focus {
  outline: none;
}
.section_article-text-link:focus-visible {
  outline: 1px solid var(--text-color);
}
.text_indentation {
  line-height: 130%;
}
.text_indentation:not(:last-child){
  padding-block-end: 20px;
}
.section_title {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  color: var(--section-title);
  margin-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
}
@media (width < 768px) and (width >= 375px) {
  .section_title {
    width: 100%;
    margin-block-end: 20px;
  }
}
.section_article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_article-title {
  font-size: 18px;
  color: var(--section-article-title);
}
.section_article-text {
  color: var(--text-color);
  font-weight: 400;
}
.section__article-title_regular {
  font-weight: 400;
}
.section:nth-of-type(2) {
  grid-template-columns: 1fr 1fr;
}
.section_articles{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  gap: 20px;
}
@media (width < 1024px) and (width >= 768px) {
  .section_articles {
    display: flex;
    flex-direction: column;
  }
  .section_articles .text_indentation{
    padding-block-end: 0px;
  }
}
@media (width < 768px) and (width >= 375px) {
  .section_articles {
    display: flex;
    flex-direction: column;
  }
  .section_articles .text_indentation{
    padding-block-end: 0px;
  }
}
 .section:nth-of-type(2) .section_title{
  grid-row: 1 / 2;
  inline-size: 65%;
}
@media (width < 1024px) and (width >= 768px) {
  .section:nth-of-type(2) .section_title {
    inline-size: 35%;
  }
}
@media (width < 768px) and (width >= 375px) {
  .section:nth-of-type(2) .section_title {
    inline-size: 100%;
  }
}
.section:nth-of-type(1) .section_title{
  inline-size: 90%;
}
.last_section .section_recommend-title {
    margin-block-end:  20px;
}
  /* Галерея */
.section_gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 19px;
}
@media (width < 768px) and (width >= 375px) {
  .section_gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.section_gallery .section_article-title{
  grid-column: 1 / -1;
}
.section__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}
.section__image:first-of-type, .section__image:last-of-type {
  grid-column: span 2;
}
.section__image:nth-of-type(2), .section__image:nth-of-type(3) {
  grid-row: span 2;
}
/* FOOTER  */
.footer {
  padding: 282px 20px;
  position: relative;
  text-align: center;
}
@media (width < 1024px) and (width >= 768px) {
  .footer {
      padding: 434px 20px;
  }
}
@media (width < 768px) and (width >= 375px) {
  .footer {
      margin-top: 40px;
      padding: 262px 10px;
  }
}
.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--tittle-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}
@media (width < 1024px) and (width >= 375px) {
  .footer__title {
      text-shadow: 2px 2px 0px var(--title-decor);
  }
}
@media (width < 768px) and (width >= 375px) {
  .footer__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}